<p id="notice"><%= notice %></p>

<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-body">
      <h1>Requests</h1>

      <%= render "all_requests", requests: @requests_pending_emergency, num: 'One', typeR: 'Pending Emergency'%>
      <%= render "all_requests", requests: @requests_pending_non_emergency, num: 'Two', typeR: 'Pending Non Emergency'%>
    </div>
  </div>
  <div class="spacer-10"></div>
  <div class="card">
    <div class="card-body">
      <h1>History</h1>
      <%= render "all_requests", requests: @requests_history, num: 'Three', typeR: "history"%>
    </div>
  </div>
</div>
