@import "bootstrap";
@import "card";
@import "font-awesome";
@import "pagination";

body{
  position: absolute;
  top: 0px;
  width: 100%;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 100%;
  background-image: url("https://static.wixstatic.com/media/514e1b64850980a553b6053176dbdc2e.wix_mp/v1/fill/w_1280,h_800,al_t/514e1b64850980a553b6053176dbdc2e.wix_mp");
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.chemical-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chemical-section > .columns-wrapper{
  width: 1000px;
  display: flex;
  justify-content: space-between;
}

.chemical-section > .columns-wrapper > .column {
  padding: 20px;
  margin: 42px;
  text-align: center;
  border-bottom: 5px solid transparent;
  border-radius: 10px;
  transition: 1s;
}

textarea{
  width: 90%;
}

.spacer-10 {
  width: 100%;
  height: 10px;
}

.chemical-section > .columns-wrapper > .column > .form_group {
  display: flex;
  justify-content: flex-end;
}

span > .input-group-text{
  width: 100%;
}

.chemical-section > .columns-wrapper > .column > .form_group > .num {
  width:25%;
}

.chemical_submit_button {
  background: transparent;
  border: none !important;
}

.chemical_submit_button:focus {
  outline: none;
}

.fa{
  color: #007bff
}

.fa {
  font-size: 1.25em;
  margin: 0px 10px 0px 10px;
}
