@import "bootstrap";
@import "card";

body{
  background-color: red;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.chemical-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chemical-section > .columns-wrapper{
  width: 1000px;
  display: flex;
  justify-content: space-between;
}

.chemical-section > .columns-wrapper > .column {
  padding: 20px;
  margin: 42px;
  text-align: center;
  border-bottom: 5px solid transparent;
  border-radius: 10px;
  transition: 1s;
}

textarea{
  width: 90%;
}

.spacer-10 {
  width: 100%;
  height: 10px;
}

.chemical-section > .columns-wrapper > .column > .form_group {
  display: flex;
  justify-content: flex-end;
}

span > .input-group-text{
  width: 100%;
}

.chemical-section > .columns-wrapper > .column > .form_group > .num {
    width:25%;
}
